@model IEnumerable<Tuan5_LeNgocHueTran.Models.Sach>
@{
    ViewBag.Title = "Home Page";
}

<h2>HUTECH SÁCH </h2>
<div class="row">
    @foreach(var item in Model)
     {
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    @item.tensach
                </div> 
                <div class="panel-body">
                    <p><strong>Giá: </strong>@item.giaban</p>
                    <p><strong>Ngày cập nhật: </strong>@item.ngaycapnhat</p>
                    <p><strong>Số lượng tồn: </strong>@item.soluongton</p>
                    <p><img src="@item.hinh" alt="hinhthumnail" /></p>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <a href="#" class="btn btn-primary">Order</a>
                        @Html.ActionLink("Readmore...", "Details", new {id = item.masach}, new {@class = "btn btn-default"})
                    </div>
                </div> 
            </div>
        </div>
     }
</div>